@charset "utf-8";

body {
    padding: 0.5% 1.5%;
}

div.form-block {
    margin: 1em;
}

input#search-field {
    font-size: 1em;
    height: 2em;
    width: 12.5em;
}

button.submit-button {
    background: #FFF;
    border-radius: 0.5em;
    border: 2px solid #1B9AF7;
    color: #1B9AF7;
    font-size: 0.875em;
}

button.submit-button:hover {
    background: #1B9AF7;
    box-shadow: 0 0 0.25em red;
    color: #FFF;
}

button.submit-button:visited {
}

div.comment {
    line-height: 1.6;
    margin: 1em 0;
    padding: 0.25em 0;
}

a.hidden {
    color: inherit;
    text-decoration: none;
}

a.reference {
    color: #656565;
    font: bold 1.5em 'Garamond', serif;
    padding: 0 0.75em;
}

a.reference:hover {
    color: #fdd363;
}
